driver
(
   name "stage"
   provides ["simulation:0"]
   plugin "libstageplugin"
   worldfile "sim.world"
)

# Origin for drawing
driver
(
   name "stage"
   provides ["graphics2d:0"]
   model "origin"
)

define localnav driver
(
   name "vfh"

   max_speed_narrow_opening 0.2
   max_speed                0.3
   max_speed_wide_opening   0.4

   max_turnrate_0ms     20 
   #30
   max_turnrate_1ms     40
   #80

#   weight_desired_dir   5.0
#   weight_current_dir   3.0

   escape_speed 0.2
   escape_time  3

   safety_dist_0ms 0.2
   safety_dist_1ms 0.25

#  we force no reachable goals to manage this in our code.
   distance_epsilon 0
   angle_epsilon 0
)

# Ari
driver
(
   name "stage"
   provides [
      "6665:position2d:1"
      "6665:laser:0"
   ]
   model "Ari"
)

# Ari navigation
localnav
(
   requires [ "6665:position2d:1" "6665:laser:0" ]
   provides [ "6665:position2d:0" ]
)

# Ben
driver
(
   name "stage"
   provides [
      "6666:position2d:1"
      "6666:laser:0"
   ]
   model "Ben"
)

# Ben navigation
localnav
(
   requires [ "6666:position2d:1" "6666:laser:0" ]
   provides [ "6666:position2d:0" ]
)

# Ced
driver
(
   name "stage"
   provides [
      "6667:position2d:1"
      "6667:laser:0"
   ]
   model "Ced"
)

# Ced navigation
localnav
(
   requires [ "6667:position2d:1" "6667:laser:0" ]
   provides [ "6667:position2d:0" ]
)

# Dan
driver
(
   name "stage"
   provides [
      "6668:position2d:1"
      "6668:laser:0"
   ]
   model "Dan"
)

# Dan navigation
localnav
(
   requires [ "6668:position2d:1" "6668:laser:0" ]
   provides [ "6668:position2d:0" ]
)
